{% load static %}

   <!-- SUBSCRIPTIONS START -->
    <div class="subscriptions-background-image">
        <div class="container px-5 d-flex flex-wrap">
            <div class="card col-md-6 mt-5 mb-md-5 mb-0 shadow-0 rounded-0">
                <div class="card-body">
                    <img src="{% static 'img/hand.png' %}" class="fa-rotate-180 mb-2" style="width: 32px;" alt="">
                    <blockquote class="blockquote mb-0">
                        <h3 style="font-size: 30px;">SIGN UP FOR THE WIRED DAILY NEWSLETTER</h3>
                        <p class="fs-6">Our biggest stories, delivered to your inbox every day.</p>
                        <a href="">
                            <p class="card-text">
                                <small class="text-muted" style="font-size: 13px;">See all newsletters.</small>
                            </p>
                        </a>
                    </blockquote>
                </div>
            </div>
            <div class="card col-md-6 mt-0 mt-md-5 mb-5 shadow-0 rounded-0">
                <div class="card-body d-flex flex-column justify-content-center">

                    <div class="d-flex gap-3">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="email" id="typeEmail" class="form-control" />
                            <label class="form-label" for="typeEmail">Email address</label>
                        </div>
                        <button type="button" class="btn btn-dark" data-mdb-ripple-init>SUBMIT</button>
                    </div>


                    <blockquote class="blockquote px-1 pt-3">
                        <p class="text-muted" style="font-size: 10px;">By signing up you agree to our User Agreement
                            (including the class action waiver and arbitration
                            provisions), our Privacy Policy & Cookie Statement and to receive marketing and
                            account-related
                            emails from WIRED. You can unsubscribe at any time.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- SUBSCRIPTIONS END -->
